<div class="container">
    <div class="row form-group">
        <div class="col-md-12 text-center">
            <h3 class="text-info">Dashboard , Welcome Hr</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-plus fa-2x text-primary"></i>
                <h4 class="text-primary">New Clients</h4>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-building fa-2x text-primary"></i>
                <h4 class="text-primary">Clients <br> 1078</h4>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-edit fa-2x text-primary"></i>
                <h4 class="text-primary">New Requirement</h4>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-suitcase fa-2x text-warning"></i>
                <h4 class="text-primary">Requirement <br> 2023</h4>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-user-plus fa-2x text-primary"></i>
                <h4 class="text-primary">New Profile</h4>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-check-circle fa-2x text-success"></i>
                <h4 class="text-primary">Joined <br> 1101</h4>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-users fa-2x text-info"></i>
                <h4 class="text-primary">Profile in Process <br> 50000</h4>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-sync fa-spin fa-2x text-secondary"></i>
                <h4 class="text-primary">Waiting For Offer <br> 100</h4>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-handshake fa-2x text-success"></i>
                <h4 class="text-primary"> Waiting to join <br> 100</h4>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-times fa-2x text-danger"></i>
                <h4 class="text-primary">Rejected Profiles <br> 100</h4>
            </div>
        </div>

        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-envelope fa-2x text-warning"></i>
                <h4 class="text-primary">Invoice Generated <br> 100</h4>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div class="jumbotron">
                <i class="fa fa-file-invoice fa-2x"></i>
                <h4 class="text-primary">Invoice Paid <br> 100</h4>
            </div>
        </div>
    </div>
</div>